.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--space-s);
    padding: var(--space-s);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    transition: all 0.3s;
    width: 200px;
    height: 250px; /* Ensure the card has a fixed height */
    padding: var(--space-l);
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover {
        background-color: var(--color-bg-secondary);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    &__image {
        width: 100%;
        height: auto; /* Adjust height to auto */
        border-radius: var(--border-radius);
        object-fit: cover;
    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
}

.loading-spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 3px solid #3498db;
    animation: spin 1s linear infinite;
    pointer-events: none; /* Ensure clicks pass through */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
